@import '~antd/dist/antd.css';
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://rsms.me/inter/inter.css');

body {
  margin: 0;
  padding: 0;
  background-color: #FCF8FF;
}

.App-header-container{
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  height: 70px;
  align-items: center;
  padding: 50px 130px;


}

.App-title{
  /* width: 250px; */
  /* width: 201px; */
  width: 18%;
  /* height: 70px; */
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gotham', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  color: #424242;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  background-color: white;
  /* height: 90px; */
  padding: 10px 20px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  /* font-size: 18px; */
  color: #424242;
;
}

.App-header span {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

.App-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
}

.App-menu {
  /* width: 250px; */
  width: 18%;
  height: 78%;
  /* height: 11%; */
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.App-menu h1 {
  /* font-size: 12px; */
  /* font-weight: bold; */
  padding: 0 20px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-align: left;
  
}

.App-menu .active {
  height: 48px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #F5EAFF;
  /* padding: 5px 10px; */
  color: black;
  opacity: 1;
  border-right: 3px solid #7A3FD7;
  display: flex;
  vertical-align: middle;

}

.App-menu a {
  height: 48px;
  font-family: Inter;
  font-weight: 400;
  /* font-size: 14px; */
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  /* padding: 10px 10px; */
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
  vertical-align: middle;
}

.App-menu-bottom {
  margin-top: calc(100vh - 70px - 78vh);
  /* margin-top: calc(100vh - 70px - 220px); */
  background-color: white;
}

.App-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 130px;
}

.App-content-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.App-charts {
  height: 300px;
}

.App-content-bottom h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.App-content-bottom-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.App-content-bottom-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.App-content-bottom-left-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-content-bottom-left-summary-item {
  background-color: white;
  width: 48%;
  margin-top: 10px;
  height: 165px;
  padding: 15px;
  box-shadow: 0px 0px 20px rgba(150, 85, 255, 0.1), 0px 4px 5px rgba(150, 85, 255, 0.15);
}

.App-content-bottom-left-summary-item-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  width: 65%;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 15px;
  /* font-weight: bold; */
}

.App-content-bottom-left-summary-item-value {
  color: #7B61FF;
  font-family: Inter;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

.App-content-bottom-left-summary-item-unit {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #7B61FF;
  line-height: 29px;
}

.about-view {
  color: rgb(139, 138, 138);
}

.landing-view {
  color: rgb(139, 138, 138);
}

.App-content-bottom-right-summary {
  width: 100%;
  background-color: white;
  height: 420px;
  padding: 20px;
  box-shadow: 5px 5px 10px #F6EFFA;
}

.timeinrange-header {
  font-family: Inter;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 44px;
}

.timeinrange-unit {
  display:inline-flex;
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgba(123, 97, 255, 0.5);
  background-color: #7B61FF1A;
  /* padding: 12px 13px; */
  padding-top: 12px;
  padding-left: 13px;
  padding-right: 8px;
  padding-bottom: 12px;
  border-radius: 10px;
  height: 43px;
  letter-spacing: 0.15em;
  /* margin-bottom: 10px; */
  /* vertical-align: baseline; */
  /* font-style: italic; */
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(150, 85, 255, 0.25) inset;
}

.timeinrange-unit span {
  font-family: 'Gotham Black', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  height: 30px;
  letter-spacing: 0.15em;
  text-align: center;
  color: #7B61FF;
  background-color: #FFFFFF;
  /* padding: 10px 8px 3px 8px; */
  padding-top: 11px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
  /* align-content: center; */
  margin-left: 10px;
  /* margin-bottom: 4px; */
  /* vertical-align: baseline; */
  box-shadow: 0px 4px 5px 0px rgba(150, 85, 255, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(150, 85, 255, 0.1);

}

.timeinrange-footer {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.timeinrange-footer-item-value {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
  line-height: 19px;
  text-align: center;
  padding: 5px 10px;
  /* font-size: 12px;
  font-weight: bold; */
}

.timeinrange-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
}
.timeinrange-rect {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 54px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.timeinrange-rect-value {
  font-family: Inter;
  font-weight: 600;
  height: 15px;
  display: flex;
  padding-right: 20px;
  /* justify-content: flex-end; */
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 0.15em;
  text-align: right;
}

.timeinrange-value {
  font-family: Inter;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-left: 10px;
}

.tab-menu {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  background-color: #7B61FF1A;
  padding: 5px 10px;
  color: #7A66B5;
  /* width: 240px; */
  width: 25%;
  min-width: 281px;
  height: 43px;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(150, 85, 255, 0.25);
}

.tab-menu-item {
  display: flex;
  justify-content: space-around;
  /* font-size: 14px;
  font-weight: bold; */
  text-align: center;
  align-items: center;
  width: 33.3%;
  cursor: pointer;

  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.15em;
  color:rgba(0, 0, 0, 0.5);



}

.tab-active {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  height: 33px;
  width: 33.3%;
  color: #7B61FF;
  box-shadow: 0px 0px 20px rgba(150, 85, 255, 0.1), 0px 4px 5px rgba(150, 85, 255, 0.15);
}

.tab-content {
  margin-top: 10px;
}

.tooltip {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

.tooltip-title {
  border-bottom: solid 1px gray;
}

.tooltip-content {
  font-size: 22px;
  color: gray;
  padding: 5px 10px;
}

.select-person {
  background-color: #7B61FF;
  color: white;
  padding: 5px 20px;
  border-radius: 60px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(150, 85, 255, 0.1), 0px 4px 5px rgba(150, 85, 255, 0.15);

}

.rect-chart {
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: row;
}
.axisY {
  background-color: #F6F2FB;
  width: 100px;
}
.rect-chart-main {
  flex-grow: 1;
  background-color: #F6F2FB;
}

.leng {
  background-color: white;
  width: 300px;
  border: solid 1px gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leng-chart {
  background-color: #F6F2FB;
  width: 60px;
  height: 80%;
}

.leng-chart-high {
  background: linear-gradient(#BC1672, #F6F2FB);
  width: 100%;
  height: 40%;
}

.leng-chart-normal {
  height: 19%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.leng-chart-low {
  background: linear-gradient(#F6F2FB, #38B4E5);
  width: 100%;
  height: 40%;
}

.leng-chart-right {
  height: 80%;
  margin-left: 10px;
  color: gray;
}

.leng-chart-high-right {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leng-chart-normal-right {
  height: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leng-chart-low-right {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leng-chart-left {
  height: 80%;
  margin-right: 10px;
  font-size: 13px;
}

.leng-chart-high-left {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #BC1672;
}

.leng-chart-normal-left {
  height: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leng-chart-low-left {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #38B4E5;
}

.axisY {
  background-color: #F6F2FB;
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
}

.axisY-label {
  font-size: 12px;
  color: gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.axisY-label-item {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: gray;
  text-align: center;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: gray;
  height: 105%;
}

.week .week-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  color: gray;
  width: 20%;
  height: 100%;
}

.week .week-item-value {
  border-right: solid 1px gray;
  height: 100%;
  border-bottom: solid 1px gray;
}

.week-item-value-item {
  height: calc(100% / 288);
}